[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultSurvTests"]
	path = MultSurvTests
	url = https://github.com/lukketotte/multsurvtests
